:root {
    font-size: 16px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}

main {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

img {
    width: 100%;
}

.container {
    max-width: 600px;
    display: flex;
    align-items: center;
}

.indicator {
    text-align: center;
    margin-bottom: 1rem;
    color: gray;
}

.slide {
    display: none;
    margin: 0 1rem;
    text-align: center;
    background-color: hsl(0, 0%, 89%);

    &.show {
        display: block;
    }

    &__details {
        padding: 1.3rem 1.5rem;
    
        &__title {
            margin-bottom: .5rem;
        }

        &__description {
            color: hsl(0, 0%, 30%);
        }
    }
}

.control {
    padding: .8rem 1.1rem;
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;
    background-color: hsl(0, 0%, 89%);

    &:hover {
        background-color: hsl(0, 0%, 75%);
    }
}